# Logs
logs
*.log
npm-debug.log*

# Runtime
pids
*.pid
*.seed
*.pid.lock

# OS
.DS_Store

# Tools
.eslintcache

# node/npm
.lock-wscript
.node_repl_history
.npm
node_modules

# Build output dir
build
