{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "defaultParams": true
  },
  "rules": {
    // Buggy with some APIs
    "array-callback-return": 0,
    // Go hipster!
    "semi": [2, "never"],
    // It really is not confusing.
    "no-confusing-arrow": 0,
    // Do not care.
    "no-underscore-dangle": 0,
    // We want the console
    "no-console": 0,
    // Node < 8 does not support trailing function commas
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never",
    }]
  }
}
